#header {
  background-color: var(--secondary-white);
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 46px;

  .header-topbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins-med";
    font-size: 22px;
    text-transform: uppercase;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 65px;
  }
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;

  .hero {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 68px 81px 0px 81px;
    margin-bottom: 63px;
    background-color: var(--bg-hero);
    border-radius: 30px;
    box-sizing: border-box;
    .hero-info {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      .hero-title {
        text-transform: uppercase;
        font-family: "Poppins-bl";
        font-size: 6em;
        line-height: 1.2;
      }
      .hero-paragraph {
        font-family: "Poppins";
        font-size: 32px;
      }
      a {
        width: fit-content;
        font-family: "Poppins-med";
        font-size: 30px;
        text-transform: capitalize;
      }
    }
  }
  .brands {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 70px 0;
    
    .brands-container {
      width: 80%;
      display: flex;
      justify-content: space-around;
    }
  }
  .new-arrivals{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 69px 0;

    .arrivals-container{
      width: 80%;

      h2{
        font-family: "Poppins-bl";
        font-size: 48px;
        text-transform: uppercase;
      }

      .arrivals-cards{
        padding: 118px 0;
        display: flex;
        gap: 90px;

        .card{

          .card-description{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 26px 0;
            
            
            div{
             font-family: "Poppins-med";

             h3{
              font-size: 32px;
              font-weight: normal;
             }

             p{
              font-size: 24px;
              color: var(--grey-text);
             }
            }

            a{
              width: 32px;
              height: auto;
              
              svg{
                stroke: var(--grey-text);

                &:hover{
                  stroke: var(--extra);
                }
              }


            }

          }
        }
      }
    }

  }

  
}

/* .layout-header { espacios entre el borde de un contenedor al cual se aplique este layout y su contenido
  padding-left: 100px;
  padding-right: 100px;
} */

/*.layout {
   width: calc(100% - 100px); a través de la func. calc() calculamos el ancho del layout (separacion entre contenedor y contenido)
}*/

.btn-style {
  background-color: var(--secondary-black);
  color: var(--secondary-white);
  padding: 22px 15px;
  border-radius: 7px;
}
